@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";
@theme {

  /* my themes */
  --color-primary: #03045e;
  --color-secondary: #0077b6;
  --color-primary-dark: #fca311;
  --color-secondary-dark: theme(--color-gray-400);
  --color-amazon:#f08804;
  --color-postion:#d1d2d2;
  --color-accent:#ec4899;
  /* nav colors */
  --color-primary-lightNav:#2e4052;
  --color-primary-darkNav:theme(--color-gray-800)
  /* font   */
  --font-title1: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
  /* break point */
  --breakpoint-xs: 400px;
}

@layer components {
  .card-container {
    @apply grid sm:grid-cols-2 rounded-xl lg:grid-cols-3 justify-items-center gap-5 p-1 px-2 md:p-4 md:px-10  bg-gray-50 dark:bg-gray-900;
  }

  .card {
    @apply w-full border border-gray-300 dark:border-gray-800 rounded-xl p-4 space-y-3 bg-white dark:bg-gray-800 dark:hover:border-b-blue-300 transition;
  }
  .card-header{
    @apply md:flex  gap-2 items-center ;
  }
  .card-img {
    @apply md:size-12  size-10 border mask-cover border-gray-300 dark:border-gray-600 p-0.5 xs:p-1 rounded-xl ;
  }

  .card-title {
    @apply text-lg md:text-xl xl:text-2xl font-semibold text-primary dark:text-amazon  text-center;
  }
    .card-sub-title {
      @apply  my-1 md:my-2 text-primary dark:text-white font-body font-semibold text-xs md:text-sm lg:text-lg text-center xs:text-start;
    }

  .card-body {
    @apply text-sm text-gray-700 font-medium font-body dark:text-gray-200;
  }
  .card-body-detials{
    @apply text-sm text-gray-700 font-normal dark:text-gray-200 space-y-1 mt-4;
  }
    .car-item{
      @apply bg-green-100/10 border-l-2 rounded-2xl border-green-500 p-4;
    }
  .card-footer {
    @apply grid gap-2 mt-4 xs:grid-cols-3;
  }

  .primary-btn {
    @apply text-sm md:text-2xl bg-primary dark:bg-primary-dark dark:text-black px-2 py-1 md:px-4 md:py-2 text-white rounded-xl font-semibold hover:shadow-lg active:bg-primary/90 dark:active:bg-primary-dark/90;
  }

  .secondary-btn {
    @apply text-sm md:text-2xl bg-secondary dark:bg-secondary-dark/90 dark:text-black px-2 py-1 md:px-4 md:py-2 text-white rounded-xl font-semibold hover:shadow-lg active:bg-secondary/90 dark:active:bg-secondary-dark/90;
  }
  .section{
    @apply bg-gray-200 dark:bg-gray-950  lg:px-20 md:px-10 px-2 ;
  }
  .section-title1{
    @apply mt-1 py-2 sm:mt-2 sm:py-6 xl:mt-2.5 xl:py-8 text-xl xs:text-2xl md:text-3xl lg:text-4xl font-bold tracking-tight text-balance text-center ;
  }
  /* other classes */
  .company-logo-wrapper{
    @apply text-center;
  }
  .line-div{
    @apply bg-red-500 h-0.5 md:w-48 xs:w-28 w-20 m-auto mb-6 md:mb-8 lg:mb-12;
  }
  .gradient-text{
    @apply bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent;
  }
  .job-type{
    @apply bg-indigo-400 p-1 md:px-2.5 rounded-2xl text-mauve-900 font-normal;
  }
  .main-content{
    @apply mt-40 w-full
  }
}
